<div class="container-fluid bg-home">
  <div class="row" >
    <div class="col-md-3"></div>
    <div class="col-md-6 back-form "> 
      <h1> Réservez, galopez!</h1>
      <hr>
        <h2>Découvrez d'innombrables <strong>activités équestres </strong>dans toute la France</h2>
        <h2> pour tous les niveaux, tous les âges et <strong>à petits prix!</strong></h2>
     <form role="form" >
      <div class="form-group" id= "search-bar"> 
       <div class="input-group" >
        <input type="text" class="form-control" placeholder="Rechercher une activité...">
         <span class="input-group-btn"> <a class="btn btn-success" type="submit">Hue!</a> </span>
        </div>
       </div>
     </form>  
    </div>
    <div class="col-md-3">  </div>  
  </div>
</div>