<h1>Bienvenue sur Ponéo</h1>

<p>
 Vous êtes bien inscrit sur le site Ponéo.
 Pour accéder à votre profil cliquez ici : http://camarchepasencore.fr </b>

 NB : Vous devez compléter votre profil afin de pouvoir réserver des prestations et de vivre l'aventure Ponéo !
</p>
