<h1>Votre réservation est confirmée</h1>

<p>Le centre <%= @centre.name %> à validé votre réservation et vous accueillera le <%= @service.date.strftime("%d/%m/%Y") %> à l'adresse suivante : <%= @centre.address %></p>

<p>Merci d'avoir fait confiance à Ponéo, et bon galop !</p>
