<h1>Votre réservation est confirmée</h1>

<p>Le centre <%= @centre.name %> a validé votre réservation et vous accueillera le <%= @service.date.strftime("%d/%m/%Y") %> à l'adresse suivante : <%= @centre.address %></p>
<p>Retrouver tous les détails de votre réservation sur poneo.com</p>


<p>Merci d'avoir fait confiance à Ponéo, et bon galop !</p>
