<h1>Résumé de votre réservation</h1>

<p>Vous venez d'effectuer une réservation pour l'activité <%= link_to "#{@service.title}", @service %> </p>
<p>Nous avons transmis votre demande au centre qui confirmera votre réservation dans les plus brefs délais</p>

<p>Merci d'avoir fait confiance à Ponéo, et bon galop !</p>
