<%= form_for(@centre) do |f| %>
  <% if @centre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@centre.errors.count, "error") %> prohibited this centre from being saved:</h2>

      <ul>
      <% @centre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
