// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
margin: 0 auto ;
}

.box {
  // margin: 10px;
  padding:10px;
  width: 450px;
  text-align: justify;
  border: 1px solid #E38E05;
  margin-top: 30px;
}
.box h2 {
  text-align: center;
}
.actions {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

.panel-body {
  margin-top: 20px;
}


.image_centre {
  margin-top: 20px;
  text-align: center;
}
