<h1>Mince !</h1>

<p>Ca arrive... Voici un lien pour vous recréez un mot de passe : </p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous avez effectué cette manipulation par erreur,votre mot de passe ne changera pas si vous n'en saississez pas un nouveau.</p>