<h1> Votre paiement de <strong><%=@amount/100%>€</strong> est Validé ! </h1>
<h2>Vous avez reçu un mail récapitulatif de votre commande.</h2>
<h2> Votre reservation sera confirmé par le centre équèstre par mail. </h2>
<h2>Merci pour votre confiance.</h2>
