<h1> Votre paiement de <strong><%=@amount/100%>€</strong> est Validé ! </h1>
<h2>Vous avez reçu un mail récapitulatif de votre commande.</h2>
<h2> Votre reservation sera confirmé par le centre équèstre par mail. </h2>
<h2>Merci pour votre confiance.</h2>
<div class="container-fluid bg-home">
  <div class="row" >
    <div class="col-md-3"> </div>
    <div class="col-md-6 back-form ">
      <h1> Votre paiement de <strong><%=@amount/100%>€</strong> est Validé ! </h1>
      <h2>Vous avez reçu un mail récapitulatif de votre commande.</h2>
      <h2> Votre reservation sera confirmé par le centre équestre par mail. </h2>
      <h2>Merci pour votre confiance.</h2>
    </div>
    <div class="col-md-3">  </div>
  </div>
</div>
