<div class="container-fluid bg-paiement-validation">
  <div class="col-md-4 col-md-offset-4 recap">
    <h1> Votre paiement de <strong><%=@amount/100%>€</strong> est Validé ! </h1>
    <p>Vous avez reçu un mail récapitulatif de votre commande.</p>
    <p> Votre reservation sera confirmé par le centre équèstre par mail. </p>
    <p>Merci pour votre confiance.</p>
  </div>
</div>
